<% include head.ejs %>

<header>
	<h1>Contacts</h1>
</header>
<article id="contacts">

	<% if (data) { %>
		<ul>
		<input type="text" id="input" onkeyup="app.filter()">
		<% for(var i = 0; i < data.length; i++) { %>
			<li id=<%= data[i].letter %>>
				<a href="#<%= data[i].letter %>">
					<h1 id="<%=data[i].letter%>" class="letter">
						<%= data[i].letter %>
					</h1>
				</a>
				<ul>
					<% for(var j = 0; j < data[i].data.length; j++) { %>
						<li>
							<a href="#<%=data[i].data[j].name.first%>_<%=data[i].data[j].name.last%>">
								<header>
									<div></div>

									<img id="tumbnail" src='<%= data[i].data[j].picture.thumbnail %>' />
									<%= data[i].data[j].name.first %>
									<%= data[i].data[j].name.last %>
								</header>
								<p id="<%=data[i].data[j].name.first%>_<%=data[i].data[j].name.last%>" class="modal">
									<img id="imgThumbnail" src='<%= data[i].data[j].picture.thumbnail %>' />
									<img id="imgLarge" src='<%= data[i].data[j].picture.large %>' />
									<span><%= data[i].data[j].name.first %> <%= data[i].data[j].name.last %></span>
									<span><%= data[i].data[j].phone %></span>
									<a href="#">X</a>
								</p>
							</a>
						</li>
					<% } %>
				</ul>
			</li>
		<% } %>
		</ul>
	<% } %>

	<h1 id="sticky"></h1>

</article>

<aside>
	<% if (data) { %>
		<ul>
		<% for(var i = 0; i < data.length; i++) { %>
			<li>
				<a href="#<%=data[i].letter%>">
					<%= data[i].letter %>
				</a>
			</li>
		<% } %>
		</ul>
	<% } %>
</aside>
<script src="js/client.js"></script>

