<% include head.ejs %>

<header>
	<h1>Contacts</h1>
</header>
<article id="list">	

	<% if (data) { %>
		<ul>
		<% for(var i = 0; i < data.length; i++) { %>
			<li id=item<%= i %>>
				<h1><%= data[i].letter %></h1>
				<ul>
					<% for(var j = 0; j < data[i].data.length; j++) { %>
						<li>
							<a id="<%=data[i].data[j].name.first%>_<%=data[i].data[j].name.last%>" href="#<%=data[i].data[j].name.first%>_<%=data[i].data[j].name.last%>">
								<header>
									<img src='<%= data[i].data[j].picture.thumbnail %>' />
									<%= data[i].data[j].name.first %>
									<%= data[i].data[j].name.last %>
								</header>
								<p class="phone"><%= data[i].data[j].phone %></p>
							</a>
						</li>
					<% } %>
				</ul>
			</li>
		<% } %>
		</ul>
	<% } %>

</article>

<aside>
	<% if (data) { %>
		<ul>
		<% for(var i = 0; i < data.length; i++) { %>
			<li>
				<a href=#item<%= i %>>
					<%= data[i].letter %>
				</a>
			</li>
		<% } %>
		</ul>
	<% } %>
</aside>





